.update-password-student{
    display: flex;
}
.update-passsword-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}