.add-student-admin{
    display: flex;
}
@media(max-width:900px){
    .add-student-admin{
        flex-direction: column;
    }
}
.container-inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
@media(max-width:500px){
.container-inputs{
    flex-direction: column;
    justify-content: center;
}
}
.container-inputs>.form-group>input,select{
    width: 280px ;
    margin: 10px 20px 10px 0px;
}
.add-student-section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
}
.add-student-container{
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C77E8;
    border-radius: 15px;
    padding: 15px;
    margin-top: 4rem;
    color: white;
}
@media(max-width:500px){
    .add-student-container{
        margin-top: 0;
        border-radius: 0;
    }
}