.attendence-faculty-section{
    display: flex;
}
.attendence-faculty-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.attendence-faculty-content{
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #0C77E8;
    color: white;
    padding: 25px;
    border-radius: 15px;
    color: white;
}
.attendence-infos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.attendence-infos-container{
    margin-top: 2rem;
}
.check-box-input>input{
    width: 30px;
    height: 30px;
    cursor: pointer;
}