.update-password-faculty{
    display: flex;
}
@media(max-width:1000px){
    .update-password-faculty{
        flex-direction: column;
    }
}
.update-password-container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center; 
}
.update-password-content{
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #0C77E8;
    padding: 25px;
    border-radius: 15px;
    color: white;
}
@media(max-width:600px){
    .update-password-content{
        max-width: 320px;
        margin-top: 4rem;
    }
}