.grades-section{
    display: flex;
}
.grades-container{
    width: 100%;
    height: 100vh;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.obs-text{
    margin-top: 1rem;
    width: 100%;
    justify-content: left;
    margin-left: 1.2rem;
}
.obs-text>h2{
    font-size: 1.3rem;
}
.infos{
    width: 180px;
    height: 200px;
    background-color: white;
    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.13) ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    border-top: 10px solid #00C0FF;
    line-height: 30px;
}
.infos>h3{
    font-size: 1.5rem;
}
.table>.note>p{
    font-size: 1.7rem;
    margin: 8px 0px 8px 0px;
}
.table>div>span{
    font-size: 1.5rem;
}
