.add-faculty-section{
    display: flex;
}
@media(max-width:900px){
    .add-faculty-section{
        flex-direction: column;
    }
}
.form-group{
    display: flex;
    flex-direction: column;
}
.add-faculty-content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.bg-content{
    width: 100%;
    background-color: #0C77E8;
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}
@media(max-width:500px){
   .bg-content{
    border-radius: 0;
    height: 100vh;
   }
   .bg-content>.row>.col-md-6>.form-group>input,select{
        width: 300px;
   }
   .form-control{
    width: 300px;
   }
}
.center-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}